# Ignore Node.js / NPM dependencies
/node_modules/

# Ignore frontend build output
/build/
/dist/

# Ignore frontend environment variables
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# Ignore frontend TypeScript build information
*.tsbuildinfo

# Ignore Next.js specific files
/.next/
/out/

# Ignore Gatsby specific files
/.cache/
/public/
